<h1>New Prompt</h1>

<% if @ps.errors.any? %>
    <div class="alert alert-danger">
        <% @ps.errors.full_messages.each do |messages| %>
        <div><%= messages %></div>
        <% end %>
    </div>
<% end %>

<%= form_with model: @ps, url: new_prompt_path, data: { turbo: false } do |form| %>
<div class="mb-3">
    <%= form.label :uid %>
    <%= form.number_field :uid, class: "form-control", placeholder: "123" %>
</div>
<div class="mb-3">
    <%= form.label :system_prompt %>
    <%= form.text_field :system_prompt, class: "form-control" %>
</div>
<div class="mb-3">
    <%= form.submit "Sign In", class: "btn btn-primary" %>
</div>
<% end %>